@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300&display=swap');

body {
    font-family:'Alumni Sans'!important;
    
}

.currentLink {
    font-weight: bold!important;
    text-decoration: underline!important;
}
.ejLogo {
    color: rgb(196, 41, 41);
    margin-top: 20px;
    font-size: 5rem;
}

.tagline {
    color: rgb(17, 20, 62);
    margin-bottom: 30px;
    font-size: 2rem;
}

.section2 {
    background-color: rgb(196, 41, 41);
    width: 100%;
}
.section3 {
    background-color: rgb(17, 20, 62);
    width: 100%;
    display: flex;
}

.section4 {
    background-color: white;
}
.weDo {
    color: white;
    text-shadow: 2px 2px rgb(17, 20, 62);
    font-size: 5rem;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 5%;
    
}

.satisfaction {
    color:  rgb(196, 41, 41);
    font-size: 5rem;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 5%;
}

.getStarted {
    color:  rgb(196, 41, 41);
    font-size: 3rem;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 5%;
}
.customCard {
    width: 18rem;
    background-color: rgba(255, 255, 255, 0.512);
    border-radius: 10px;
}
.flexDiv {
    display:flex; 
    flex-direction: column; 
    align-items: center;
}
.flexDivLeft {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sectionA {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}
.redSection {
    background-color: rgb(196, 41, 41);
}

.blueSection {
    background-color: #11143e;
}

.whiteSection {
    background-color: white;
}
.sectionB {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.formHolder {
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 2rem;
    max-width: 1400px;
    text-align: left;
}

.formHolder>input {
    font-size: 2.5rem!important;
}
.sectionC {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}
.middleHeader {
    font-size: 4rem;
    color:white;
}
.medPic {
    max-height: 300px;
    max-width: 300px;
    margin-bottom: 20px;
}

.tightText {
    color: white;
}
.smallerDiv {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
p {
    font-size: 2.5rem;
}

.techCards {
    display:flex;
    flex-direction: row;
}
@media screen and (max-width: 770px){
    .formHolder {
        flex-direction: column;
    }
    .sectionC {
        flex-direction: column;
    }
    .sectionA {
        flex-direction: column-reverse;

    }

    .middleHeader {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

}